<!DOCTYPE html>
<html>

<head>
  {% include "plates_site/head.html" %}
  {% load static %}
  <link href="{% static "plates_site/plate.css" %}" rel="stylesheet">
<head>

<body>
  {% include "plates_site/navbar.html" %}
  <div class="container">
    <div class="flex-center-column">
      <div class="spacer"></div>
      <div id="plate" class="flex-center-column">
        <div id="location">{{ location }}</div>
        <div id="license">{{ license }}</div>
      </div>
    </div>
  </div>
</body>

</html>
