.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#searchbox {
  width: 300px;
  height: 120px;
  color: #05f;
  font-size: 60px;
  text-align:center;
}

#location {
  width: 300px;
}
